<html>
	<head>
		<title>Calculate</title>
		<meta charset="utf-8"/>
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static 'calculator/main.css' %}">	
	</head>
	<body>		
		<h1><center><div class="ex1">Calculator app</div></center></h1>
			<form action="{% url 'calculator:result' %}" method='POST'>
				{% csrf_token %}
				Number 1:<input type="text" name="input1" />
				Number 2:<input type="text" name="input2"/>
				<input type="radio" name="enter" value="+" checked> plus
				<input type="radio" name="enter" value="-" checked> minus
				<input type="radio" name="enter" value="*" checked> multiply
				<input type="radio" name="enter" value="/" checked> devide
				<input class="submit1" type="submit" name="method" value="submit"/>
			</form>
	</body>
</html>
