<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Result</title>
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static 'calculator/result.css' %}">

	</head>
	<body>
		<h1><center><div class="ex1">Result</div></center></h1>
		<h1><p>{{num1}} {{operator}} {{num2}} = {{answer}}</p></h1>
	</body>
</html>

<p><a class="linkhover" href="{% url 'calculator:home' %}" >BACK</a></p>