div.ex1 {

    background-color: lightgrey;
    width: 100%px;
    padding: 25px;
    /*border: 25px solid navy;*/
    /*margin: 25px;*/
}

body {
    background-image: url("images/bg-wood.jpg");
}

p {
    color: red;
    text-align: center;
} 
input[type=text] {
    width: 20%%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
input[type=text]:focus {
    background-color: lightblue;
}

input.submit1:hover{
	background: #858585;
}